@model WeddingJule5.Models.Expense

@{
    ViewBag.Title = "Удаление траты";
}

<h2>Удаление траты</h2>

<form method="post">
    <fieldset>
        <legend>Затрата</legend>
        @Html.HiddenFor(model => model.ExpenseID)
        <p>                       
            <b>@Html.DisplayNameFor(model => model.name):</b><br />
             @Html.DisplayFor(model => model.name) 
        </p>
        <p>            
            <b>@Html.DisplayNameFor(model => model.price):</b><br />
            @Html.DisplayFor(model => model.price) 
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.date):</b><br />
            @Html.DisplayFor(model => model.date)
        </p>
        <p>            
            <b>@Html.DisplayNameFor(model => model.Category.name):</b><br />
            @Html.DisplayFor(model => model.Category.name) 
        </p>
        <input type="submit" value="Удалить" />
    </fieldset>
</form>
