@model IEnumerable<WeddingJule5.Models.Expense>
@{
    ViewBag.Title = "Список затрат";
}


<div class="center">
    <h2>Затраты</h2>
</div>
<p>
    @Html.ActionLink("Добавить затрату", "Create")
</p>
<table>
    <tr>
        <th>Наименование затраты</th>
        <th>Цена</th>
        <th>Категория затраты</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ExpenseID })
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.ExpenseID })
            </td>
        </tr>
    }
</table>

<div id="total">
    <p>Итого потрачено:  @Model.Sum(p => p.price)</p>
</div>

<p>
    @Html.ActionLink("Список категорий", "ListCategories")
</p>