
@using WeddingJule5.Helpers
@model WeddingJule5.Models.IndexViewModel

@{
    ViewBag.Title = "Список затрат";
}

<div class="center">
    <h2>Затраты</h2>
</div>
<p>
    @Html.ActionLink("Добавить затрату", "Create")
</p>
<table >
    <tr>
        <th>Наименование затраты</th>
        <th>Цена</th>
        <th>Категория затраты</th>
        <th>Дата</th>
    </tr>

    @foreach (var item in Model.PageExpenses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td class="narrow">
                @Html.ActionLink("Изменить", "Edit", new { id = item.ExpenseID })
            </td>
            <td class="narrow">
                @Html.ActionLink("Удалить", "Delete", new { id = item.ExpenseID })
            </td>
        </tr>
    }
</table>

<div id="total">
    <p>Итого потрачено:  @Model.PageExpenses.Sum(p => p.price)</p>
</div>
<div id="total">
    <p>Все траты:  @Model.AllExpenses.Sum(p => p.price)</p>
</div>

<br />

<div class="paging">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>

<p>
    @Html.ActionLink("Список категорий", "ListCategories")
</p>