<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
</head>

<body>
    <nav>
        @Html.ActionLink("Список затрат", "Index", "Expense") |
        @Html.ActionLink("Список категорий", "Index", "Category")
    </nav>
    @RenderBody()


    <script type="text/javascript">
        $(function () {
            $("input[type='date']")
                        .datepicker({ dateFormat: 'dd.mm.yy' })
                        .get(0).setAttribute("type", "text");
        });
    </script>
</body>
</html>