<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Затраты", "ListExpense", "Expense", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Категории", "ListCategory", "Category")</li>
                    <li>@Html.ActionLink("Пирог", "ChartCategory", "ChartCategory")</li>
                    <li>@Html.ActionLink("Месяца", "LineCategory", "LineCategory")</li>
                    <li>@Html.ActionLink("Пассивы", "LiabilityIndex", "Liability")</li>
                    <li>@Html.ActionLink("Доллары", "DollarIndex", "Dollar")</li>
                    <li>@Html.ActionLink("Места", "MapIndex", "Map")</li>
                    <li>@Html.ActionLink("Фото", "Gallery", "Picture")</li>
                    <li>@Html.ActionLink("Календарь", "Calendar", "Calendar")</li>
                    <li>@Html.ActionLink("Цели", "Target", "Target")</li>
                    @if (Request.IsAuthenticated)
                    {
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br />
            <br />
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.ToShortDateString()</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>