@model IEnumerable<WeddingJule.Models.CategoryViewModel>
@using WeddingJule.Helpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список категорий</title>
</head>
<body>    
    @Html.HeaderLinks(HeaderVariant.ListCategory)

    <div class="center">
        <h2>Список категорий</h2>
    </div>
    <p>
        @Html.ActionLink("Добавить новую категорию", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Категория
            </th>
            <th>
                Итого потрачено
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.category.name, "ListExpense", "Expense", new { PageNumber = 1, category = item.category.Id }, null)
                <div class="right">@Html.ActionLink("Изм", "Edit", new { id = item.category.Id }) | 
                @Html.ActionLink("Уд", "Delete", new { id = item.category.Id })</div>
            </td>
            <td>                
                @Html.DisplayFor(modelItem => item.totalCategoryPriceString)
            </td>
        </tr>
    }    
    </table>
</body>
</html>
