@model IEnumerable<WeddingJule.Models.CategoryViewModel>
@using WeddingJule.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Категории</title>
</head>
<body>
    <div>
        @Html.ActionLink("Добавить новую категорию", "Create")
    </div>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <table class="table-striped">
        <tr>
            <th class="col-xs-8">
                Категория
            </th>
            <th class="col-xs-4">
                Итого потрачено
            </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td class="col-xs-8">
                    @Html.ActionLink(item.category.name, "Details", "Category", new { id = item.category.Id }, new { @class = "detailsCategory" })
                    <div class="right">
                        @Html.ActionLink("Изм", "Edit", new { id = item.category.Id }) |
                        @Html.ActionLink("Уд", "Delete", new { id = item.category.Id })
                    </div>
                </td>
                <td class="col-xs-4">
                    @Html.DisplayFor(modelItem => item.totalCategoryPriceString)
                </td>
            </tr>
        }
    </table>

    <script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".detailsCategory").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
    </script>

</body>
</html>
