@model IEnumerable<WeddingJule.Models.CategoryViewModel>
@using WeddingJule.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Категории</title>
</head>
<body>
    <div>
        @Html.ActionLink("Добавить новую категорию", "Create")
    </div>
    <table>
        <tr>
            <th class="col-xs-8">
                Категория
            </th>
            <th class="col-xs-4">
                Итого потрачено
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-8">
                    @Html.ActionLink(item.category.name, "ListExpense", "Expense", new { PageNumber = 1, category = item.category.Id }, null)
                    <div class="right">
                        @Html.ActionLink("Изм", "Edit", new { id = item.category.Id }) |
                        @Html.ActionLink("Уд", "Delete", new { id = item.category.Id })
                    </div>
                </td>
                <td class="col-xs-4">
                    @Html.DisplayFor(modelItem => item.totalCategoryPriceString)
                </td>
            </tr>
        }
    </table>
</body>
</html>
