@{
    ViewBag.Title = "Добавление новой затрататы";
}

@model WeddingJule.Models.CreateExpenseViewModel

<h2>Добавление новой затраты</h2>

<form method="post">
    <fieldset>
        <legend>Затрата</legend>
        <p>
            Введите наименование траты: <br />
            @Html.EditorFor(model => model.expense.name)
            @Html.ValidationMessageFor(model=>model.expense.name)
        </p>
        <p>
            Введите стоимость: <br />
            @Html.EditorFor(model => model.expense.price)
            @Html.ValidationMessageFor(model => model.expense.price)
        </p>
        <p>
            Введите дату: <br />
            @Html.EditorFor(model => model.expense.date)
            @Html.ValidationMessageFor(model => model.expense.date)
        </p>
        <p>
            Выберите категорию траты: <br />
            @Html.DropDownListFor(model=>model.categoryId, Model.Categories as SelectList)
        </p>        
        <input type="submit" value="Добавить затрату"/>
    </fieldset>
</form>
