@model WeddingJule.Models.Expense
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ExpenseID)
        <div>
            @Html.LabelFor(model => model.name)
            <div>
                @Html.DisplayFor(model => model.name)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.price)
            <div>
                @Html.DisplayFor(model => model.price)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.date)
            <div>
                @Html.DisplayFor(model => model.date)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.CategoryId)
            <div>
                @Html.HiddenFor(m => m.CategoryId)
                @Html.DisplayFor(model => model.Category.name)
            </div>
        </div>

        <div>
            <input type="submit" value="Удалить" />
        </div>
    }
</div>