@model WeddingJule.Models.Expense
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ExpenseID)
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Трата</dt>
            <dd>@Html.EditorFor(m => m.name)</dd>

            <dt>@Html.LabelFor(m => m.price)</dt>
            <dd>@Html.EditorFor(m => m.price)</dd>

            <dt>@Html.LabelFor(m => m.date)</dt>
            <dd>@Html.EditorFor(m => m.date)</dd>

            <dt>Категория</dt>
            <dd>@Html.DropDownListFor(model => model.CategoryId, ViewBag.categories as SelectList)</dd>

            <dd><input type="submit" value="Сохранить" /></dd>
        </dl>
    </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("input[type='date']")
                    .datepicker({ dateFormat: 'dd.mm.yy' })
                    .get(0).setAttribute("type", "text");
    });

    $.validator.methods.date = function (value, element) {
        return this.optional(element) || Globalize.parseDate(value, 'dd.mm.yy', "ru");
    }


    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    };
</script>
