@using WeddingJule.Helpers
@model WeddingJule.Models.ExpenseViewModel
@{
    ViewBag.Title = "Список затрат";
}

<div>
    @Html.ActionLink("Добавить затрату", "Create", "Expense", new { category = Model.category }, new { @class = "validateDialog", data_dialog_title = "Добавить" })
</div>

<div><span id="notification" style="color:red;font-size:15px;"></span></div>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {

        var notificationhub = $.connection.notificationHub;

        notificationhub.client.displayMessage = function (message) {

            $('#notification').html(message);
        };

        $.connection.hub.start();

    });
</script>



<form method="get">
    <div class="form-inline">
        <label class="control-label">Категория: </label>
        @Html.DropDownListFor(model => model.category, Model.Categories, new { PageNumber = 1, @onchange = "this.form.submit();" })
        <input id="AjaxAutoCompleteText" style="height:25px;" type="text" name="name" data-autocomplete-source='@Url.Action("AutocompleteSearch", "AutocompleteSearch")' />
        @Html.HiddenFor(model => model.filter)
        <input type="submit" id="AjaxAutoComplete" value="Поиск" />
    </div>
</form>

<script>
    window.onload = function () {
        var text = $('#filter').val();
        $('#AjaxAutoCompleteText').val(text);
    }
</script>

<link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />

<script>
    $('#AjaxAutoComplete').click(function () {
        var text = $('#AjaxAutoCompleteText').val();
        $('#filter').val(text);
    });
</script>

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });
</script>

<div id="modDialogDetail" class="modal fade">
    <div id="dialogDetailContent" class="modal-dialog"></div>
</div>


<table class="table-striped spec format">
    <tr>
        <th class="col-xs-6 format format">Трата</th>
        <th class="col-xs-3 format format">Цена</th>
        <th class="col-xs-3 format format">Дата</th>
    </tr>
    @foreach (var item in Model.PageExpenses)
    {
        <tr>
            <td class="col-xs-6 format">
                @Html.ActionLink(item.name, "ExpenseDetails", "Expense", new { id = item.ExpenseID }, new { @class = "expenseDetails" })
                <div class="right">
                    @Html.ActionLink("Изм", "Edit", new { id = item.ExpenseID }, new { @class = "editValidateDialog", data_dialog_title = "Изменить" }) |
                    @Html.ActionLink("Уд", "Delete", new { id = item.ExpenseID }, new { @class = "viewDialog", data_dialog_title = "Удалить" })
                </div>
            </td>
            <td class="col-xs-3 format">
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td class="col-xs-3 format">
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
    }
</table>


<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".expenseDetails").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogDetailContent').html(data);
                $('#modDialogDetail').modal('show');
            });
        });
    })
</script>


<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width: 'auto'
                });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".editValidateDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width:'auto',
                    buttons: {
                        "Сохранить": {
                            text: "Сохранить",
                            id: "okbtnid",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Edit", "Expense")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    width: 'auto',
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }

                    }
                });
        });

        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".validateDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width: 'auto',
                    buttons: {    
                        "Сохранить": {
                            text: "Сохранить",
                            id: "okbtnid",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Create", "Expense")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    width:'auto',
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }
    
                    }
                });
        });

        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>

<div id="total">
    <p>
        Итого затрат на странице: @Model.PageExpenses.Sum(p => p.price).ToString("N")<br>
        @if (Model.CategoryExpenses.HasValue)
        {<text>Итого затрат по категории:</text> @Model.CategoryExpenses.Value.ToString("N") @Html.Raw("<br>")        }
        Все траты: @Model.AllExpenses.Sum(p => p.price).ToString("N")
    </p>
</div>

<div class="paging">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ListExpense", new { PageNumber = x, category = Model.category, filter = Model.filter }))
</div>