@{
    ViewBag.Title = "Пассивы";
}

@model WeddingJule.Models.Liability.LiabilityViewModel

<h2>Пассивы</h2>

<div>
    @Html.ActionLink("Добавить пассив", "CreateLiability", "Liability", null, new { @class = "validateDialog", data_dialog_title = "Добавить" })
</div>

<div id="modDialogDetail" class="modal fade">
    <div id="dialogDetailContent" class="modal-dialog"></div>
</div>

<table class="table-striped spec format">
    <tr>
        <th class="col-xs-8 format">Трата</th>
        <th class="col-xs-4 format">Цена</th>
    </tr>
    @foreach (var item in Model.liabilities)
    {
        <tr>
            <td class="col-xs-9 format">
                                @Html.DisplayFor(modelItem => item.name)
                                <div class="right">
                                    @Html.ActionLink("Изм", "EditLiability", new { id = item.LiabilityID }, new { @class = "editValidateDialog", data_dialog_title = "Изменить" }) |
                                    @Html.ActionLink("Уд", "DeleteLiability", new { id = item.LiabilityID }, new { @class = "viewDialog", data_dialog_title = "Удалить" })
                                </div>
            </td>
            <td class="col-xs-3 format">
                @Html.DisplayFor(modelItem => item.price)
            </td>
        </tr>
    }
</table>




<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".expenseDetails").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogDetailContent').html(data);
                $('#modDialogDetail').modal('show');
            });
        });
    })
</script>


<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width: 'auto'
                });
        });
    });
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".editValidateDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width: 'auto',
                    buttons: {
                        "Сохранить": {
                            text: "Сохранить",
                            id: "okbtnid",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("EditLiability", "Liability")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    width: 'auto',
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }

                    }
                });
        });

        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>

<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".validateDialog").on("click", function (e) {
            e.preventDefault();

            $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    resizable: false,
                    modal: true,
                    width: 'auto',
                    buttons: {
                        "Сохранить": {
                            text: "Сохранить",
                            id: "okbtnid",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("CreateLiability", "Liability")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    width: 'auto',
                                    success: function (result) {

                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }

                    }
                });
        });

        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>







<b>Все пассивы: @Model.totalPrice</b>